<div id="welcome">
  <account-notification-banner></account-notification-banner>
  <div class="container pt-5 pb-5">
    <h1>Welcome to Danger Life</h1>
    <hr/>
    <div class="buttons">
      <a class="btn btn-primary" href="/goals/add">Add Goal</a>
    </div>
  </div>

  <router-view></router-view>

</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
