<div id="add-goal" v-cloak>

  <h1>Add Goal</h1>
  <p>(See also <em>assets/styles/pages/add-goal.less</em>, <em>assets/js/pages/add-goal.page.js</em>, and <em>api/controllers/view-add-goal.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
