<div id="homepage" v-cloak>
  <div class="hero">
    <div class="cover"></div>
    <div class="hero-content">
      <img class="logo" src="/images/logo.png">
      <h1>Do What Scares You</h1>
      <a class="btn btn-primary" href="/signup">Get Started</a>
    </div>
  </div>
  <div class="steps">
    <div class="step">
      <div class="title">
        <i class="fa fa-bolt"></i> 
        <h3>1. Add a Life Goal</h3>
      </div>
      <p>
        Add a life goal that scares you, but you want to do it anyway. Set a deadline and reminder schedule. 
      </p>
    </div>
    <div class="step">
      <div class="title">
        <i class="fa fa-user-plus"></i>
        <h3>2. Add Friends</h3>
      </div>
      <p>
        Add friends to your goal to cheer you on and help keep you accountable.
      </p>
    </div>
    <div class="step">
      <div class="title">
        <i class="fa fa-trophy"></i> 
        <h3>3. Celebrate!</h3>
      </div>
      <p>
        Once complete, we'll generate a celebration page you can share that will live on the internet forever.
      </p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>